[user]
  email = 1049485+apie@users.noreply.github.com
  name = Denick
  signingkey = 9689E645F568CF10E7903A6E22B2D359F16F24AB
[push]
  default = simple
[alias]
  pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
  diffw = diff --color-words
  showw = show --color-words
  ci = commit -a
  co = checkout
  st = status
  s = status
  l = log
  br = branch
  pushfl = push --force-with-lease
  torelease = "!git log $(git describe --tags --abbrev=0)..master --oneline"
  pullall = "!for RMT in $(git remote); do git pull -v $RMT $1; echo; done;"
  pushall = "!for RMT in $(git remote); do git push -v $RMT $1; echo; done;"
[core]
  excludesfile = ~/.gitignore
[log]
  decorate = auto
[rebase]
  autosquash = true
[pull]
  rebase = true
[diff]
  colorMoved = zebra
[fetch]
  prune = true
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[gpg "ssh"]
	allowedSignersFile = /home/denick/.config/git/allowed_signers
[gpg]
	format = ssh
[user]
    signingkey = /home/denick/.ssh/id_ed25519.pub
[commit]
    gpgsign = true
